{% extends 'base.html' %}
{% block tab_title %}cupcakes!{% endblock %}
{% block header %}You want some cupcakes?<br>Who doesn't want cupcakes?{% endblock %}
{% block content %}
<div class="container">
    <div class="row" id="cupcake-display">
    </div>
    <br>
    <div class="row">
        <div class="col col-md-6 col-lg-4">
            <hr>
            <h3>add a new cupcake:</h3>
            <form id="new-cupcake-form">
                <div class="form-group">
                    <label for="flavor">Flavor:</label>
                    <input type="text" name="flavor" placeholder="flavor" class="text-light bg-dark rounded form-control" id="flavor" required>
                </div>
                <div class="form-group">
                    <label for="size">Size:</label>
                    <input type="text" name="size" placeholder="size" class="text-light bg-dark rounded form-control" id="size" required>
                </div>
                <div class="form-group">
                    <label for="rating">Rating:</label>
                    <input type="number" name="rating" placeholder="rating" class="text-light bg-dark rounded form-control" id="rating" required>
                </div>
                <div class="form-group">
                    <label for="image">Image URL:</label>
                    <input type="text" name="image" placeholder="image" class="text-light bg-dark rounded form-control" id="image">
                </div>
                <button type="submit" class="btn btn-primary mt-1">add cupcake</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}